.media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.page_title {
  padding: 20px 0px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: #37474f;
  font-weight: normal;
}

// base color
.ivu-input {
  border: 1px solid @baseThemeColor;
  border-radius: 0.463vh;
}

.ivu-input-search {
  cursor: pointer;
  padding: 0 16px !important;
  background: @baseThemeColor !important;
  color: #fff !important;
  border-color: @baseThemeColor !important;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 2;
}

.ivu-input-with-search:hover .ivu-input {
  border-color: @baseThemeColor;
}

.ivu-input:focus,
.ivu-input:hover {
  border-color: @baseThemeColor;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(206, 159, 105, 0.2);
}

// button

.ivu-btn-circle,
.ivu-btn-circle-outline {
  border-radius: 20px;
}
.ivu-btn:hover {
  color: #f80;
  background-color: #fff;
  border-color: #f80;
}
.ivu-btn-primary {
  color: #fff;
  background-color: #f80;
  border-color: #f80;
  &:hover {
    color: #fff;
    background-color: #f80;
    border-color: #f80;
  }
}


// menu
.ivu-menu {
  width: @baseVisibleWidth;
  margin: 0 auto;
}

.ivu-menu-item {
  font-size: 16px;
}

.ivu-menu-light {
  color: #fff;
  background-color: @baseThemeColor;
}

.ivu-menu-horizontal.ivu-menu-light {
  &::after {
    content: none;
  }
}

.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu {
  color: #fff;
}

.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}