<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <!-- <link rel="stylesheet" href="./static/style/css/main.css"> -->
    <link rel="stylesheet" href="../static/style/css/mainNew.css">
    <link rel="stylesheet" href="../static/style/css/search.css">
    <link rel="shortcut icon" href="../static/style/images/favicon.ico" />
    <!-- [jQuery] -->
    <script type="text/javascript" src="../static/easyui/jquery.min.js" charset="utf-8"></script>
    <!-- [EasyUI] -->
    <link id="easyuiTheme" rel="stylesheet" type="text/css" href="../static/easyui/themes/gray/easyui.css" />
    <link id="easyuiTheme" rel="stylesheet" type="text/css" href="../static/easyui/themes/icon.css" />
    <script type="text/javascript" src="../static/easyui/jquery.easyui.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/easyui/locale/easyui-lang-zh_CN.js" charset="utf-8"></script>
    <!-- [扩展JS] -->
    <script type="text/javascript" src="../static/extJs.js" charset="utf-8"></script>
    <!-- [扩展样式] -->
    <link rel="stylesheet" type="text/css" href="../static/style/css/dreamlu.css" />
    <link rel="stylesheet" type="text/css" href="./css/map.css" />

    <!-- [图标样式] -->
    <!-- <link rel="stylesheet" type="text/css" href="./iconfont/iconfont.css" /> -->
    <!-- 地图瓦片 -->
    <script type="text/javascript" src="http://192.168.0.171/map_load.js"></script>
    <!-- [提交表单] -->
    <script type="text/javascript" src="../static/jquery.form.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/echarts.js" charset="utf-8"></script>
    <script src="../static/node_modules/babel-core/browser.min.js"></script>
    <script type="text/javascript" src="../static/js/echartbase.js" charset="utf-8"></script>
    <!-- [扩展window] -->
    <script type="text/javascript" src="../static/easyui/BaseWindow.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/public.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/map.js"></script>
    <style>

    </style>
</head>
<!-- overflow-y: hidden; -->

<body style=" height: 100%;">
    <div class="clearfix  w box-z" style=" height: 100%; padding-bottom: 238px; box-sizing: border-box ;">
        <section class="map_section" id="appmap">
            <div class="map_box" id="mapbox"></div>
            <div class="float_modals">
                <div class="modal_search_warp">
                    <ul>
                        <li @click="searchFuns"><span></span></li>
                        <li>
                            <input type="text" :value='searchText' @change="onChange" placeholder="单位/班组/开关站">
                        </li>
                    </ul>
                </div>
                <div class="modal_select_warp">
                    <div class="select_left">
                        <div class="selectinpt">
                            <input placeholder="请选择供电公司" :value='haveChoose[0].name' type="text"
                                @focus="getCompanyFn(0)" />
                        </div>
                        <div v-if='selectPrShowIndex===0' class="float_show_box1 float_show_pr"
                            :style="{display: (selectPrShowIndex === 0 ? 'block' : 'none')}">
                            <ul>
                                <li v-for="item in supplyCompany" :key='item.name' :class="{'active':item.active}"
                                    @click="chooseCompFn(item)"><span>{{item.name}}</span></li>
                            </ul>
                            <div class="select_btns">
                                <span class="cancel" @click="cancle(0)">清除</span>
                                <span class="okey" @click="okeyFnOne">确定</span>
                            </div>
                        </div>

                    </div>
                    <div class="select_right">
                        <div class="selectinpt">
                            <input placeholder="请选择开关站" type="text" :value='haveChoose[2].name'
                                @focus="getCompanyFn(2)" />
                        </div>

                        <div v-if='selectPrShowIndex===2' class="float_show_box2 float_show_pr"
                            :style="{display: (selectPrShowIndex === 2 ? 'block' : 'none')}">
                            <ul>
                                <li v-for="item in onpendzList" :key='item.name' :class="{'active':item.active}"
                                    @click="choosegzListFn(item)"><span>{{item.name}}</span></li>
                            </ul>
                            <div class="select_btns">
                                <span class="cancel" @click="cancle(2)">清除</span>
                                <span class="okey" @click="okeyFnOne">确定</span>
                            </div>
                        </div>
                    </div>
                    <div class="select_center">
                        <div class="selectinpt">
                            <input placeholder="请选择班组" type="text" :value="haveChoose[1].name"
                                @focus="getCompanyFn(1)" />
                        </div>

                        <div v-if='selectPrShowIndex===1' class="float_show_box3 float_show_pr"
                            :style="{display: (selectPrShowIndex === 1 ? 'block' : 'none')}">
                            <ul>
                                <li v-for="item in banzhusList" :key='item.name' :class="{'active':item.active}"
                                    @click="chooseBzFn(item)"><span>{{item.name}}</span></li>
                            </ul>
                            <div class="select_btns">
                                <span class="cancel" @click="cancle(1)">清除</span>
                                <span class="okey" @click="okeyFnOne">确定</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal_list_warp">
                    <ul class="list_tabs">
                        <li @click="tabsClick('total')" :class="{'active':tabStatus=='total'}">
                            <span>总数({{needOjb.totalNum || 0}})</span></li>
                        <li @click="tabsClick('normal')" :class="{'active':tabStatus=='normal'}">
                            <span>正常({{needOjb.normalNum || 0}})</span></li>
                        <li @click="tabsClick('offline')" :class="{'active':tabStatus=='offline'}">
                            <span>离线({{needOjb.offlineNum || 0}})</span></li>
                        <li @click="tabsClick('warn')" :class="{'active':tabStatus=='warn'}">
                            <span>告警({{needOjb.warnNum || 0}})</span></li>
                    </ul>
                    <ul class="sopur_list_ul" v-if="tabStatus !==''"
                        :style="{display: (tabStatus !=='' ? 'block' : 'none')}">
                        <li v-for="(item,index) in allDataList" :key="index">
                            <h4>{{item.dwmc}}</h4>
                            <dl class="sopur_list" v-if="item.children" v-for="child in item.children" :key="child.id">
                                <dt>
                                    <h5>
                                        {{child.dwmc}}
                                        <span>正常<em>({{child.normalNum}})</em></span>
                                        <span>离线<em>({{child.offlineNum}})</em></span>
                                        <span>告警<em>({{child.warnNum}})</em></span>
                                    </h5>
                                </dt>
                                <dd :class="{'active':kgzActiveChoose==childkgz.name}" v-if="child.kgz"
                                    v-for="childkgz in child.kgz" :key="childkgz.name"
                                    @click.stop="kgzPositioningFn(childkgz)">
                                    <div class="list_left">
                                        <h3>{{childkgz.name}}</h3>
                                        <p>{{childkgz.address}}</p>
                                    </div>
                                    <!-- <div class="list_right">
                                        <img :src='imgJZ' alt="" />
                                    </div> -->
                                </dd>

                            </dl>
                        </li>

                    </ul>
                </div>
            </div>
            <div v-if="isLoading">
                <div class="datagrid-mask" style="display:block"></div>
                <div class="datagrid-mask-msg"
                    style="display: block; left: 50%; height: 16px; margin-left: -85.5px; line-height: 16px;">
                    正在处理，请稍待。。。</div>
            </div>

        </section>

    </div>
    <script type="text/javascript" src="./js/vue.min.js"></script>
    <script>
        // 1.创建vue实例

        const BMapURL = 'http://192.168.0.171/map_load.js'
        window.map = null
        const app = new Vue({
            el: '#appmap',
            data() {
                return {
                    // imgJZ: './img/dsdf.png',
                    searchText: '',//搜索
                    needOjb: {},//总数、正常、离线、告警
                    allDataList: [], //所有数组
                    allKguanzArrList: [],//所有开关站
                    supplyCompany: [],//供电公司
                    banzhusList: [],//班组
                    onpendzList: [],//开关站
                    selectPrShowIndex: null,
                    haveChoose: [{}, {}, {}],
                    tabStatus: '',
                    kgzActiveChoose: '',
                    mapAddressIcon: "./img/map-adress.png",
                    mapAddressIcon2: "./img/dizhi-17.png",
                    isLoading: true,
                    isFlag: false, // 强制解决addEventListener执行两次

                }
            },
            async created() {
                this.selectPrShowIndex = null
                await this.initAddCreatedMap()
                await this.getAllDataFn()
                await this.getDataFun()
            },
            mounted() {
            },
            methods: {
                initAddCreatedMap() { //创建 map.js
                    if (typeof BMap === 'undefined') {
                        // 插入script脚本
                        let scriptNode = document.createElement('script')
                        scriptNode.setAttribute('type', 'text/javascript')
                        scriptNode.setAttribute('src', BMapURL)
                        document.body.appendChild(scriptNode)
                    }
                    // let map = new BMap.Map('mapbox', { minZoom: 10, maxZoom: 18 })
                    // window.map = map;
                },
                initCreatedBmap(long = '121.477091', lat = '31.26927') {  //创建map，并放储存
                    let that = this
                    let map = new BMap.Map('mapbox', { minZoom: 10, maxZoom: 18 })
                    let point = new BMap.Point(long, lat)
                    map.centerAndZoom(point, 11)
                    map.enableScrollWheelZoom(true);
                    window.map = map; // 将map变量存储在全局
                },
                initAddMarker() {
                    let that = this
                    let dataArr = that.allDataList
                    
                    let bigSize = new BMap.Size(70, 70)
                    let minSize = new BMap.Size(42, 41)
                    let bigKgzOffset = new BMap.Size(-15, -35)
                    let minKgzOffset = new BMap.Size(-30, -30)
                    let icon1 = new BMap.Icon(that.mapAddressIcon, bigSize)
                    let icon2 = new BMap.Icon(that.mapAddressIcon2, minSize)
                    dataArr.map((item) => {
                        let mapIcon = item.nodeType == '1' ? icon1 : icon2
                        mapIcon.setImageSize(item.nodeType == '1' ? bigSize : minSize) //背景图 大小

                        let point = new BMap.Point(item.longitude, item.latitude)
                        let labelContent = `${item.nodeType == '1' ? item.dwmc : item.name}`
                        let optsion = {
                            point: point,
                            offset: item.nodeType == '1' ? bigKgzOffset : minKgzOffset,
                            enableMassClear: true
                        }
                        let marker = new BMap.Marker(point, { icon: mapIcon })
                        let label = new BMap.Label(labelContent, optsion)
                        // marker.setIcon(mapIcon)
                        marker.setLabel(label)
                        label.setStyle({ // 设置label的样式
                            width: '100px',
                            height: '40px',
                            lineHeight: '30px',
                            textAlign: 'center',
                            color: '#ffffff',
                            fontSize: '15px',
                            border: '0px',
                            borderRadius: '5px',
                            background: 'url("./img/label2.png")',
                            backgroundRepeat: 'no-repeat',
                            backgroundSize: 'contain',
                        })
                        map.addOverlay(marker)
                        that.addClickInfo(marker, item)
                    })

                },
                bmapZoom(){},
                addClickInfo(marker, item) {
                    let that = this
                    let optsion = {
                        width: 390, // 信息窗口宽度
                        height: 490, // 信息窗口高度
                        title: '', // 信息窗口标题
                        enableMessage: true // 设置允许信息窗发送短息
                    }
                    function content() {
                        return (`
                        <div class="mapgrayInfo">
                            <div class="title">${item.areaName}5555555555</div>
                            <div class="content">
                                <h5>状态：<span>
                                    <em>正常(1)</em>
                                    <em>告警(1)</em>
                                    <em>离线(1)</em>
                                    <em>危急(1)</em>
                                </span></h5>
                                <h5>地址：
                                    <span>盈港东路-蟠秀路与徐民东路交叉口西南侧</span>
                                </h5>
                                <ul class="mapTables">
                                    <li>设备终端</li>
                                    <li>终端台账</li>
                                    <li>分布图</li>
                                    <li>工单进度</li>
                                </ul>
                                <div class="maptable">
                                    <ul>
                                        <li>
                                            <span>温度</span>
                                            <span>温度监测点#1</span>                 
                                            <span>38°C</span>
                                            <span>3楼</span>
                                            <span></span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                      `)
                    }
                    marker.addEventListener('click', function (e) {
                        let company = e.target.getLabel().content
                        if (nodeType == '1') {
                            that.searchText = company
                            that.getBanzAllListFn(company, allArray)
                        } else {
                            var p = e.target
                            var point = new BMap.Point(
                                p.getPosition().lng,
                                p.getPosition().lat
                            )
                            var infoWindow = new BMap.InfoWindow(content, optsion) // 创建信息窗口对象
                            map.openInfoWindow(infoWindow, point) // 开启信息窗口
                        }
                    })
                },


                initCreatedMap(allArray, long = '121.477091', lat = '31.26927', zoomIndex) {
                    var that = this
                    var allArray = allArray || that.allDataList
                    let map = new BMap.Map('mapbox', { minZoom: 10, maxZoom: 18 })
                    console.log(map);

                    let point = new BMap.Point(long, lat)
                    map.centerAndZoom(point, zoomIndex)
                    map.enableScrollWheelZoom(true);

                    let ZoomNum = map.getZoom();
                    console.log(ZoomNum, '不监听');
                    function handleZoomend(e) {
                        let ZoomNum = map.getZoom();
                        console.log(ZoomNum);
                        if (ZoomNum < 15) {
                            console.log(that.allDataList.length);
                            if (that.allDataList.length < 0) {
                                that.getAllDataFn()
                            } else {
                                // that.initCreatedMap(undefined, undefined, undefined, ZoomNum)
                            }
                        } else {
                            // that.getAllKguanZDataFn()
                        }
                    }
                    map.addEventListener("zoomend", handleZoomend, false);

                    // console.log(map.eventListenerList["zoomend"]);


                    function InfoWindowHtml(item) {
                        return (`
                        <div class="mapgrayInfo">
                            <div class="title">${item.areaName}5555555555</div>
                            <div class="content">
                                <h5>状态：<span>
                                    <em>正常(1)</em>
                                    <em>告警(1)</em>
                                    <em>离线(1)</em>
                                    <em>危急(1)</em>
                                </span></h5>
                                <h5>地址：
                                    <span>盈港东路-蟠秀路与徐民东路交叉口西南侧</span>
                                </h5>
                                <ul class="mapTables">
                                    <li>设备终端</li>
                                    <li>终端台账</li>
                                    <li>分布图</li>
                                    <li>工单进度</li>
                                </ul>
                                <div class="maptable">
                                    <ul>
                                        <li>
                                            <span>温度</span>
                                            <span>温度监测点#1</span>                 
                                            <span>38°C</span>
                                            <span>3楼</span>
                                            <span></span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                      `)
                    }
                    let optsion = {
                        width: 390, // 信息窗口宽度
                        height: 490, // 信息窗口高度
                        title: '', // 信息窗口标题
                        enableMessage: true // 设置允许信息窗发送短息
                    }
                    function addClickHandler(content, marker, nodeType) {
                        marker.addEventListener('click', function (e) {
                            let company = e.target.getLabel().content
                            if (nodeType == '1') {
                                that.searchText = company
                                that.getBanzAllListFn(company, allArray)
                            } else {
                                var p = e.target
                                var point = new BMap.Point(
                                    p.getPosition().lng,
                                    p.getPosition().lat
                                )
                                var infoWindow = new BMap.InfoWindow(content, optsion) // 创建信息窗口对象
                                map.openInfoWindow(infoWindow, point) // 开启信息窗口
                            }


                        })
                    }

                    allArray.map((item, i) => {
                        //nodeType属性 1 供电公司 2 班组 3 开关站
                        // console.log(item);
                        let bigSize = new BMap.Size(70, 70)
                        let minSize = new BMap.Size(42, 41)
                        let icon1 = new BMap.Icon(that.mapAddressIcon, bigSize)
                        let icon2 = new BMap.Icon(that.mapAddressIcon2, minSize)
                        let mapIcon = item.nodeType == '1' ? icon1 : icon2
                        mapIcon.setImageSize(item.nodeType == '1' ? bigSize : minSize) //背景图 大小
                        const customizedInfoWindow = InfoWindowHtml(item)
                        let point = new BMap.Point(item.longitude, item.latitude)
                        let labelContent = `${item.nodeType == '1' ? item.dwmc : item.name}`
                        let bigKgzOffset = new BMap.Size(-15, -35)
                        let minKgzOffset = new BMap.Size(-30, -30)
                        let optsion = {
                            point: point,
                            offset: item.nodeType == '1' ? bigKgzOffset : minKgzOffset,
                            enableMassClear: true
                        }
                        let marker = new BMap.Marker(point)
                        let label = new BMap.Label(labelContent, optsion)
                        marker.setIcon(mapIcon)
                        marker.setLabel(label)
                        label.setStyle({ // 设置label的样式
                            width: '100px',
                            height: '40px',
                            lineHeight: '30px',
                            textAlign: 'center',
                            color: '#ffffff',
                            fontSize: '15px',
                            border: '0px',
                            borderRadius: '5px',
                            background: 'url("./img/label2.png")',
                            backgroundRepeat: 'no-repeat',
                            backgroundSize: 'contain',
                        })
                        map.addOverlay(marker)
                        // map.removeEventListener("zoomend", handleZoomend);
                        addClickHandler(customizedInfoWindow, marker, item.nodeType)
                    })
                },

                getEveryList(arr) {
                    var that = this
                    arr.map((item) => {
                        if (item.nodeType == '3') {
                            that.allKguanzArrList.push(item)
                        }
                        if (item.children && item.children.length > 0) {
                            that.getEveryList(item.children)
                        }
                        if (item.kgz && item.kgz.length > 0) {
                            that.getEveryList(item.kgz)
                        }

                    })
                    return that.allKguanzArrList
                },
                async getAllKguanZDataFn() {
                    var that = this
                    // that.isLoading = true
                    function unique(arr) {
                        return Array.from(new Set(arr))
                    }
                    let data = unique(that.getEveryList(that.allDataList))
                    // await that.initCreatedMap(data, data[2].longitude, data[2].latitude, 16)

                },
                getBanzAllListFn(company, arr) {
                    var that = this
                    that.isLoading = true
                    that.allDataList=[]
                    let chooseItem = arr.find((item) => {
                        if (item.dwmc == company) {
                            return item
                        }
                    })
                    const { longitude, latitude, dwbmid } = chooseItem
                    let params = {
                        dwmc: company,//供电单位
                        dwbmid: dwbmid,
                        status: 'total',//状态:status(必填) 取值范围: total,normal,offline,warn 默认为total
                    }
                    $.post(pathx + "/ptm/envir/findKgzByDwbmid", params, function (res) {
                        console.log(res.data.kgz, '==========555==========================');
                        let kgzCone = res.data.kgz
                        // that.initCreatedMap(kgzCone, kgzCone[1].longitude, kgzCone[1].latitude, 15)
                        that.allDataList=kgzCone

                        that.isLoading = false
                    })
                },
                getDataFun() {
                    var that = this
                    that.isLoading = true
                    // 供电单位
                    $.get(pathx + '/ptm/device/listCompany', function (res) {
                        var list = res.list
                        list.map((item) => {
                            item['active'] = false
                        })
                        that.supplyCompany = list
                        that.isLoading = false
                    })
                },
                getCompanyFn(index) {
                    var that = this
                    that.selectPrShowIndex = index
                },
                handleTextFn() {
                    var textVal = ''
                    var newArr = []
                    var that = this
                    that.haveChoose.map((item) => {
                        console.log(item);
                        if (Object.keys(item).length !== 0) {
                            newArr.push(item.name)
                        }
                    })
                    if (newArr.length > 0) {
                        newArr.map((item) => {
                            textVal += item + "/"
                        })
                        if (textVal.length > 0) {
                            textVal = textVal.substr(0, textVal.length - 1);
                        }
                    } else {
                        textVal = ''
                    }
                    return textVal
                },
                chooseCompFn(item) {
                    var that = this
                    that.haveChoose[0] = item
                    that.searchText = that.handleTextFn()
                    that.supplyCompany.map((val) => {
                        val.active = false
                        if (val.code === item.code) {
                            val.active = true
                        }
                    })
                },
                chooseBzFn(item) {
                    var that = this
                    that.haveChoose[1] = item
                    that.searchText = that.handleTextFn()
                    that.banzhusList.map((val) => {
                        val.active = false
                        if (val.code === item.code) {
                            val.active = true
                        }
                    })
                },
                choosegzListFn(item) {
                    var that = this
                    that.haveChoose[2] = item
                    that.searchText = that.handleTextFn()
                    that.onpendzList.map((val) => {
                        val.active = false
                        if (val.code === item.code) {
                            val.active = true
                        }
                    })
                },
                cancle(val) {
                    var that = this
                    that.isLoading = true
                    that.selectPrShowIndex = null
                    switch (val) {
                        case 0:
                            that.haveChoose = [{}, {}, {}]
                            break;
                        case 1:
                            that.haveChoose[1] = {}
                            that.haveChoose[2] = {}
                            break;
                        default:
                            that.haveChoose[2] = {}
                            break;
                    }
                    that.searchText = that.handleTextFn()
                    that.getAllDataFn()
                },
                okeyFnOne() {
                    var that = this
                    that.isLoading = true
                    switch (that.selectPrShowIndex) {
                        case 0:
                            that.selectPrShowIndex = null
                            that.getbanzhusListFn()
                            that.getAllDataFn()
                            break;
                        case 1:
                            that.selectPrShowIndex = null
                            that.getonpendzListFn()
                            that.getAllDataFn()
                            break;
                        default:
                            that.selectPrShowIndex = null
                            that.getAllDataFn()
                            break;
                    }
                },
                getbanzhusListFn() {
                    var that = this
                    var dwbmid = that.haveChoose[0].code
                    //获取班组列表
                    $.get(pathx + '/ptm/device/listPerson?dwbmid=' + dwbmid, function (res) {
                        console.log(res, '====================================');
                        var list = res.list
                        Array.isArray(list) &&
                            list.map((item) => {
                                item['active'] = false
                            })
                        that.banzhusList = list
                    })
                    // 
                    // var params = {
                    //     dwmc: that.searchText,//供电单位
                    //     status: that.tabStatus || 'total',//状态:status(必填) 取值范围: total,normal,offline,warn 默认为total
                    // }
                    // $.post(pathx + "/ptm/envir/findOrgData", params, function (res) {
                    //     console.log(res, '==========555==========================');

                    // })



                },
                getonpendzListFn() {
                    var that = this
                    var maintenancerId = that.haveChoose[1].code
                    //获取开关站
                    $.get(pathx + '/ptm/kgz/selectKgz?maintenancerId=' + maintenancerId, function (res) {
                        console.log(res, '====================================');
                        var list = res.list
                        Array.isArray(list) &&
                            list.map((item) => {
                                item['active'] = false
                            })
                        that.onpendzList = list
                    })
                },
                getAllDataFn() {
                    var that = this
                    console.log(that.searchText);
                    that.allDataList = []
                    var params = {
                        dwmc: that.searchText,//供电单位
                        status: that.tabStatus || 'total',//状态:status(必填) 取值范围: total,normal,offline,warn 默认为total
                        dwbmid: '',//登陆用户的供电公司的dwbmid属性
                    }
                    $.post(pathx + "/ptm/envir/findDataByOrg", params, function (res) {
                        that.needOjb = res.data
                        if (res.data.list) {
                            that.allDataList = res.data.list[0].children
                            // that.initCreatedMap(undefined, undefined, undefined, 11)
                            that.initCreatedBmap()
                            that.initAddMarker()
                        }
                        that.isLoading = false

                    })

                },

                onChange(e) {
                    var that = this
                    that.searchText = e.target.value
                },
                searchFuns() {
                    var that = this
                    that.getAllDataFn()
                },
                tabsClick(val) {
                    var that = this
                    if (that.tabStatus && that.tabStatus == val) {
                        that.tabStatus = ''
                    } else {
                        that.isLoading = true
                        that.tabStatus = val
                        that.getAllDataFn()
                    }

                },
                kgzPositioningFn(val) {
                    var that = this
                    that.kgzActiveChoose = val.name
                    console.log(val);
                    let arr = [val]
                    const { longitude, latitude } = val
                    // that.initCreatedMap(arr, longitude, latitude, 15)

                },


            },
            computed: {

            },

            watch: {
                haveChoose: {
                    immediate: true,
                    // deep: true,
                    handler(val) {

                    }
                }
            },
        })
    </script>

</body>

</html>